<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Begin Header Top Area -->
    <div class="header-top_area bg--white_smoke">
        <div class="container">
            <div class="row">
                <!-- Begin Header Information Area -->
                <div class="col-lg-3 col-md-6 col-sm-4">
                    <div class="header-info_area">
                        <span>Welcome To My Website</span>
                    </div>
                </div>
                <!-- Header Information Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-6 col-sm-8">
                    <div class="ht-right">
                        <div class="ht-menu">
                            <ul>
                                <li>
                                    <a sec:authorize="isAuthenticated() and hasRole('ROLE_USER')" sec:authentication="principal.users.username" href="/user/account"><i class="fa fa-user"x></i></a>
                                    <a sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" sec:authentication="principal.users.username" href="/admin"><i class="fa fa-user"x></i></a>
                                    <div sec:authorize="!isAuthenticated()">
                                        <a href="/login">Login</a>
                                        <a href="/register"></i>Register</a>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle_area">
        <div class="container">
            <div class="row">
                <!-- Begin Header Middle Logo Area -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="hm-logo">
                        <a href="/">
                            <img src="/fe/image/menu/logo/1.png" alt="JB's Header Logo">
                        </a>
                    </div>
                </div>
                <!-- Header Middle Logo Area End Here -->
                <!-- Begin Header Search Area -->
                <div class="col-xl-7 col-lg-6 col-md-5 d-none d-lg-block">
                    <div class="header-search_area header-search_area-2">
                        <form class="header-search_box" th:action="@{/search}" method="get">
                            <input class="jb-search_input" type="text" placeholder="Enter your search key ..." name="keyword" style="width: 90%;">
                            <button class="jb-search_btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- Header Search Area End Herer -->
                <!-- Begin JB's Category Menu Area -->
                <div class="col-lg-3 col-md-5 order-2 order-md-1 order-sm-2 d-lg-none">
                    <div class="category-menu category-menu-hidden">
                        <div class="category-heading">
                            <h2 class="categories-toggle"><span>categories</span></h2>
                        </div>
                        <div id="cate-toggle-2" class="category-menu-list">
                            <ul th:each="item : ${session.categories}">
                                <li><a th:href="@{/categories/{categoryId}(categoryId=${item.id})}" th:text="${item.name}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- JB's Category Menu Area End Here -->
                <!-- Begin Header Middle Minicart Area -->
                <div class="icon-inline">
                    <div class="hm-minicart_area">
                        <ul>
                            <li>
                                <a href="/user/cart">
                                    <div class="minicart-icon bg-blue">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                </a>

                                <ul  class="minicart-body">

                                    <li  class="minicart-item_area">
                                        <div class="minicart-single_item" th:each="item, stat : ${shopingCarts}">
                                            <div class="minicart-img">
                                                <a class="mini-img">
                                                    <img th:src="@{|/uploads/${item.product.image}|}"  alt="JB's Product Image">
                                                </a>
                                                <span class="product-quantity" th:text="${item.quantity} + 'x'"></span>
                                            </div>
                                            <div class="minicart-content">
                                                <div class="product-name">
                                                    <h6>
                                                        <a href="single-product.html" th:text="${item.product.name}">
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price" th:value="${item.product.price}"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="price_content">
                                            <div class="cart-subtotals">
                                                <div class="products subtotal-list">
                                                    <span class="label" >Subtotal</span>
                                                    <span class="value" th:text="${total}"></span>
                                                </div>
<!--                                                <div class="shipping subtotal-list">-->
<!--                                                    <span class="label">Shipping</span>-->
<!--                                                    <span class="value">$7.00</span>-->
<!--                                                </div>-->
<!--                                                <div class="tax subtotal-list">-->
<!--                                                    <span class="label">Taxes</span>-->
<!--                                                    <span class="value">$0.00</span>-->
<!--                                                </div>-->
<!--                                                <div class="cart-total subtotal-list">-->
<!--                                                    <span class="label">Total</span>-->
<!--                                                    <span class="value">$54.90</span>-->
<!--                                                </div>-->
                                            </div>
                                            <div class="minicart-button">
                                                <a class="jb-btn jb-btn_fullwidth" th:href="@{/user/cart/checkoutCart}">Checkout</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Begin JB's Offcanvas Area -->
                    <div class="hm-minicart_area">
                        <a href="/user/wish-list">
                            <ul>
                                <li>
                                    <div class="minicart-icon">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                </li>
                            </ul>

                        </a>

                    </div>
                    <!-- JB's Offcanvas Area End Here -->
                </div>
                <!-- Header Middle Minicart Area End Here -->

            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom_area d-none d-lg-block">
        <div class="container">
            <div class="row">
                <!-- Begin JB's Category Menu Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="category-menu category-menu-hidden">
                        <div class="category-heading">
                            <h2 class="categories-toggle"><span>categories</span></h2>
                        </div>
                        <div id="cate-toggle" class="category-menu-list">
                            <ul th:each="item : ${session.categories}">
                                <li><a th:href="@{/categories/{categoryId}(categoryId=${item.id})}" th:text="${item.name}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- JB's Category Menu Area End Here -->
                <!-- Begin Header Middle Menu Area -->
                <div class="col-lg-6 position-static d-none d-lg-block">
                    <div class="hm-menu hm-menu-2">
                        <nav>
                            <ul>
                                <li class="dropdown-holder"><a href="index.html">Home<i
                                        class="fa fa-chevron-down"></i></a>
                                    <!-- Begin Header Middle Dropdwon Area -->
                                    <ul class="hm-dropdown">
                                        <li><a href="index.html">Home One</a></li>
                                        <li class="active"><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-3.html">Home Three</a></li>
                                        <li><a href="index-4.html">Home Four</a></li>
                                        <li><a href="index-5.html">Home Five</a></li>
                                    </ul>
                                    <!-- Header Middle Dropdwon Area End Here -->
                                </li>
                                <li class="megamenu-holder"><a href="shop-left-sidebar.html">Shop<i
                                        class="fa fa-chevron-down"></i></a>
                                    <ul class="hm-megamenu">
                                        <li><span class="megamenu-title">Shop Page Layout</span>
                                            <ul>
                                                <li><a href="shop-3-column.html">Column Three</a></li>
                                                <li><a href="shop-4-column.html">Column Four</a></li>
                                                <li><a href="shop-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar</a></li>
                                                <li><a href="shop-list-fullwidth.html">List Fullwidth</a></li>
                                                <li><a href="shop-list-left-sidebar.html">List Left Sidebar</a></li>
                                                <li><a href="shop-list-right-sidebar.html">List Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><span class="megamenu-title">Single Product Style</span>
                                            <ul>
                                                <li><a href="single-product-gallery-left.html">Gallery Left</a></li>
                                                <li><a href="single-product-gallery-right.html">Gallery Right</a></li>
                                                <li><a href="single-product-tab-style-left.html">Tab Style Left</a></li>
                                                <li><a href="single-product-tab-style-right.html">Tab Style Right</a>
                                                </li>
                                                <li><a href="single-product-sticky-left.html">Sticky Left</a></li>
                                                <li><a href="single-product-sticky-right.html">Sticky Right</a></li>
                                            </ul>
                                        </li>
                                        <li><span class="megamenu-title">Single Product Type</span>
                                            <ul>
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="single-product-sale.html">Single Product Sale</a></li>
                                                <li><a href="single-product-group.html">Single Product Group</a></li>
                                                <li><a href="single-product-normal.html">Single Product Normal</a></li>
                                                <li><a href="single-product-affiliate.html">Single Product Affiliate</a>
                                                </li>
                                                <li><a href="single-product-slider.html">Single Product Slider</a></li>
                                            </ul>
                                        </li>
                                        <li><span class="megamenu-title">Shop Related Pages</span>
                                            <ul>
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="login-register.html">Login | Register</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="compare.html">Compare</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog-left-sidebar.html">Blog<i class="fa fa-chevron-down"></i></a>
                                    <!-- Begin Header Middle Dropdwon Area -->
                                    <ul class="hm-dropdown">
                                        <li><a href="blog-left-sidebar.html">Grid View<i
                                                class="fa fa-chevron-down"></i></a>
                                            <ul class="hm-dropdown hm-sub_dropdown">
                                                <li><a href="blog-2-column.html">Column Two</a></li>
                                                <li><a href="blog-3-column.html">Column Three</a></li>
                                                <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-list-left-sidebar.html">List View<i
                                                class="fa fa-chevron-down"></i></a>
                                            <ul class="hm-dropdown hm-sub_dropdown">
                                                <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a></li>
                                                <li><a href="blog-list-right-sidebar.html">List Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-details-left-sidebar.html">Blog Details<i
                                                class="fa fa-chevron-down"></i></a>
                                            <ul class="hm-dropdown hm-sub_dropdown">
                                                <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-gallery-format.html">Blog Format<i
                                                class="fa fa-chevron-down"></i></a>
                                            <ul class="hm-dropdown hm-sub_dropdown">
                                                <li><a href="blog-gallery-format.html">Gallery Format</a></li>
                                                <li><a href="blog-audio-format.html">Audio Format</a></li>
                                                <li><a href="blog-video-format.html">Video Format</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- Header Middle Dropdwon Area End Here -->
                                </li>
                                <li><a href="index.html">Pages<i class="fa fa-chevron-down"></i></a>
                                    <!-- Begin Header Middle Dropdwon Area -->
                                    <ul class="hm-dropdown">
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                    </ul>
                                    <!-- Header Middle Dropdwon Area End Here -->
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Header Middle Menu Area End Here -->
                <!-- Begin Header Contact Information Area -->
<!--                <div class="col-lg-3">-->
<!--                    <div class="contact-info">-->
<!--                        <a href="tel://+123123321345"><i class="fa fa-phone-volume"></i> (080) 123 4567 890</a>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Header Contact Information Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin JB's Offcanvas Area -->
    <div class="offcanvas-menu-wrapper" id="offcanvasMenu">
        <div class="offcanvas-menu-inner">
            <div class="container">
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                <!-- Begin Offcanvas Search Area -->
                <div class="offcanvas-search">
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Search for item...">
                        <button class="search_btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Offcanvas Search Area End Here -->
                <!-- Begin Offcanvas Navigation Area -->
                <nav class="offcanvas-navigation">
                    <ul class="offcanvas-menu">
                        <li class="menu-item-has-children active"><a href="index.html"><span
                                class="mm-text">Home</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <span class="mm-text">Home One</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-2.html">
                                        <span class="mm-text">Home Two</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-3.html">
                                        <span class="mm-text">Home Three</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-4.html">
                                        <span class="mm-text">Home Four</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-5.html">
                                        <span class="mm-text">Home Five</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shop-left-sidebar.html">
                                <span class="mm-text">Shop</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="shop-left-sidebar.html">
                                        <span class="mm-text">Grid View</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-3-column.html">
                                                <span class="mm-text">Column Three</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-4-column.html">
                                                <span class="mm-text">Column Four</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar.html">
                                                <span class="mm-text">Left Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-right-sidebar.html">
                                                <span class="mm-text">Right Sidebar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="shop-list-left-sidebar.html">
                                        <span class="mm-text">Shop List</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-list-fullwidth.html">
                                                <span class="mm-text">Full Width</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">
                                                <span class="mm-text">Left Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">
                                                <span class="mm-text">Right Sidebar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="single-product-gallery-left.html">
                                        <span class="mm-text">Single Product Style</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product-gallery-left.html">
                                                <span class="mm-text">Gallery Left</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-gallery-right.html">
                                                <span class="mm-text">Gallery Right</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-tab-style-left.html">
                                                <span class="mm-text">Tab Style Left</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-tab-style-right.html">
                                                <span class="mm-text">Tab Style Right</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-left.html">
                                                <span class="mm-text">Sticky Left</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-right.html">
                                                <span class="mm-text">Sticky Right</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="single-product.html">
                                        <span class="mm-text">Single Product Type</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product.html">
                                                <span class="mm-text">Single Product</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-sale.html">
                                                <span class="mm-text">Single Product Sale</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-group.html">
                                                <span class="mm-text">Single Product Group</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-normal.html">
                                                <span class="mm-text">Single Product Normal</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-affiliate.html">
                                                <span class="mm-text">Single Product Affiliate</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-product-slider.html">
                                                <span class="mm-text">Single Product Slider</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="blog-left-sidebar.html">
                                <span class="mm-text">Blog</span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children has-children">
                                    <a href="blog-left-sidebar.html">
                                        <span class="mm-text">Grid View</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-2-column.html">
                                                <span class="mm-text">Column Two</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-3-column.html">
                                                <span class="mm-text">Column Three</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-left-sidebar.html">
                                                <span class="mm-text">Left Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-right-sidebar.html">
                                                <span class="mm-text">Right Sidebar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="blog-list-left-sidebar.html">
                                        <span class="mm-text">List View</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-list-left-sidebar.html">
                                                <span class="mm-text">List Left Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-list-right-sidebar.html">
                                                <span class="mm-text">List Right Sidebar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="blog-details-left-sidebar.html">
                                        <span class="mm-text">Blog Details</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-details-left-sidebar.html">
                                                <span class="mm-text">Left Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details-right-sidebar.html">
                                                <span class="mm-text">Right Sidebar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="blog-gallery-format.html">
                                        <span class="mm-text">Blog Format</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-gallery-format.html">
                                                <span class="mm-text">Gallery Format</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-audio-format.html">
                                                <span class="mm-text">Audio Format</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-video-format.html">
                                                <span class="mm-text">Video Format</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index.html">
                                <span class="mm-text">Pages</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="my-account.html">
                                        <span class="mm-text">My Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="login-register.html">
                                        <span class="mm-text">Login | Register</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="wishlist.html">
                                        <span class="mm-text">Wishlist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html">
                                        <span class="mm-text">Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="checkout.html">
                                        <span class="mm-text">Checkout</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="compare.html">
                                        <span class="mm-text">Compare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                        <span class="mm-text">FAQ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="404.html">
                                        <span class="mm-text">Error 404</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Offcanvas Navigation Area End Here -->
                <!-- Begin Header Top Offcanvas Navigation Area -->
                <nav class="offcanvas-navigation ht-offcanvas_navigation">
                    <ul class="offcanvas-menu">
                        <li class="menu-item-has-children active"><a href="javascript:void(0)"><span
                                class="mm-text">User Setting</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="my-account.html">
                                        <span class="mm-text">My Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="login-register.html">
                                        <span class="mm-text">Login | Register</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                class="mm-text">Currency</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">EUR €</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">USD $</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                class="mm-text">Language</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">English</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">Français</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">Romanian</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">Japanese</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Header Top Offcanvas Navigation Area End Here -->
            </div>
        </div>
    </div>
    <!-- JB's Offcanvas Area End Here -->
</header>