<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="/admin/layouts/head.html"></th:block>
</head>

<body>
<div class="wrapper">
    <th:block th:insert="/admin/layouts/sidebar.html"></th:block>
    <div class="main">
        <th:block th:insert="/admin/layouts/navbar.html"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Demo Product Table</h3>
                        <nav class="navbar navbar-expand-lg bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" th:href="@{/admin/product/add-product}">
                                    <button type="button" class="btn btn-success">+ Add new Product</button>
                                </a>
                                <form class="d-flex" role="search" th:action="@{/admin/product/search}" method="get">
                                    <input class="form-control me-2 fst-italic" type="search"
                                           placeholder="Enter product's name... "
                                           aria-label="Search"
                                           name="nameSearch">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body scroll-bar">
                        <div th:if="${mess!=null}"
                             class="alert alert-primary alert-dismissible fade show"
                             role="alert" id="alertMessage">
                            <strong th:text="${mess}"></strong>
                        </div>
                        <div th:if="${err!=null}"
                             class="alert alert-primary alert-dismissible fade show"
                             role="alert" id="alertMessageErr">
                            <strong th:text="${err}"></strong>
                        </div>
                        <table id="example1" class="table table-bordered table-striped text-center overflow-auto">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th class="w-25">Name</th>
                                <th class="w-50">Description</th>
                                <th class="w-25">Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${products}">
                                <td th:text="${item.getId()}"></td>
                                <td><img width="35" height="35" th:src="@{|/uploads/${item.image}|}"></td>
                                <td th:text="${item.getName()}"></td>
                                <td><span th:text="${item.getDescription().length() < 100 ? item.getDescription() : item.getDescription().substring(0,100)}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(item.getPrice(), 0, 'COMMA', 0, 'POINT') + ' VND'}"></span></td>
                                <td th:text="${item.getQuantity()}"></td>
                                <td style="width: 180px; display: block;">
                                    <a type="button" class="btn btn-warning"
                                       th:href="@{/admin/product/edit-product/{productId}(productId=${item.id})}">Edit</a>
                                    <a type="button" class="btn btn-danger"
                                       th:href="@{/admin/product/delete/{productId}(productId=${item.id})}"
                                       th:attr="onclick=${'return confirm(`Bạn có chắc muốn xóa danh mục này ?`)'}">delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" th:if="${totalPage > 1}">
                        <ul class="pagination float-end mx-4">
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/admin/product'(page=${currentPage > 0 ? currentPage - 1 : 0}, nameSearch=${nameSearch})}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}"
                                th:classappend="${i == currentPage + 1 ? 'active' : ''}">
                                <a class="page-link"
                                   th:href="@{'/admin/product'(page=${i - 1}, nameSearch=${nameSearch})}"
                                   th:text="${i}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPage - 1 ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/admin/product'(page=${currentPage < totalPage - 1 ? currentPage + 1 : totalPage - 1}, nameSearch=${nameSearch})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <th:block th:insert="/admin/layouts/footer.html"></th:block>
    </div>
</div>
<th:block th:insert="/admin/layouts/script.html"></th:block>
</body>
</html>