<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="/admin/layouts/head.html"></th:block>
</head>

<body>
<div class="wrapper">
    <th:block th:insert="/admin/layouts/sidebar.html"></th:block>
    <div class="main">
        <th:block th:insert="/admin/layouts/navbar.html"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Demo Product Table</h3>
                        <nav class="navbar navbar-expand-lg bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" th:href="@{/admin/product/add-product}">
                                    <button type="button" class="btn btn-success">+ Add new Product</button>
                                </a>
                                <form class="d-flex" role="search" th:action="@{/admin/product/search}" method="get">
                                    <input class="form-control me-2 fst-italic" type="search"
                                           placeholder="Enter product's name... "
                                           aria-label="Search"
                                           name="nameSearch">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body scroll-bar">
                        <div th:if="${mess!=null}"
                             class="alert alert-primary alert-dismissible fade show"
                             role="alert" id="alertMessage">
                            <strong th:text="${mess}"></strong>
                        </div>
                        <div th:if="${err!=null}"
                             class="alert alert-primary alert-dismissible fade show"
                             role="alert" id="alertMessageErr">
                            <strong th:text="${err}"></strong>
                        </div>
                        <table id="example1" class="table table-bordered table-striped text-center overflow-auto">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th class="w-25">Name</th>
                                <th class="w-50">Description</th>
                                <th class="w-25">Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${products}">
                                <td th:text="${item.getId()}"></td>
                                <td><img width="35" height="35" th:src="@{|/uploads/${item.image}|}"></td>
                                <td th:text="${item.getName()}"></td>
                                <td><span th:text="${item.getDescription().length() < 100 ? item.getDescription() : item.getDescription().substring(0,100)}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(item.getPrice(), 0, 'COMMA', 0, 'POINT') + ' VND'}"></span></td>
                                <td th:text="${item.getQuantity()}"></td>
                                <td>
                                    <a type="button" class="btn btn-warning"
                                       th:href="@{/admin/product/edit-product/{productId}(productId=${item.id})}">Edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
<!--                    <nav aria-label="Page navigation example " th:if="${nameSearch==null}">-->
<!--                        <ul class="pagination float-end mx-4">-->
<!--                            <li class="page-item disabled">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{${'/admin/product/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"-->
<!--                                   th:classappend="${i == 1 ? 'disabled' : ''}">Previous</a>-->
<!--                            </li>-->
<!--                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">-->
<!--                                <a class="page-link" th:href="@{${'/admin/product/' + i}}"-->
<!--                                   th:classappend="${i==currentPage?'active':''}">-->
<!--                                    <span th:text="${i}"></span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{${'/admin/product/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"-->
<!--                                   th:classappend="${i == totalPage ? 'disabled' : ''}">Next</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                    <nav aria-label="Page navigation example " th:unless="${nameSearch==null}">-->
<!--                        <ul class="pagination float-end mx-4">-->
<!--                            <li class="page-item disabled">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{${'/admin/product/' + ((currentPage > 1) ? (currentPage - 1) : 1)}(name-search=${nameSearch})}"-->
<!--                                   th:classappend="${i == 1 ? 'disabled' : ''}">Previous</a>-->
<!--                            </li>-->
<!--                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{${'/admin/product/' + i}(name-search=${nameSearch})}"-->
<!--                                   th:classappend="${i==currentPage?'active':''}">-->
<!--                                    <span th:text="${i}"></span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{${'/admin/product/' + (currentPage < totalPage ? (currentPage + 1) : totalPage)}(name-search=${nameSearch})}"-->
<!--                                   th:classappend="${i == totalPage ? 'disabled' : ''}">Next</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
                </div>
            </div>
        </main>
        <th:block th:insert="/admin/layouts/footer.html"></th:block>
    </div>
</div>
<th:block th:insert="/admin/layouts/script.html"></th:block>
</body>
</html>